

.flex-container {
    height: 100%;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    text-align: center;
    padding-top: 60px;
}

.footer{
    text-align: center;
    align-items: center;
    align-content: center;
}